git+https://github.com/supervisely/supervisely.git@tracked-frames

-f https://download.pytorch.org/whl/torch_stable.html

# Torch 1.8 wheels are built against the NumPy 1.x ABI.
numpy<2
torch==1.8.1+cu111
torchvision==0.9.1+cu111

PyYAML
easydict
cython
opencv-python
pandas
pycocotools
jpeg4py
tb-nightly
tikzplotlib
# git+https://github.com/Lyken17/pytorch-OpCounter.git
colorama
lmdb
scipy
visdom
vot-toolkit==0.7.1
# git+https://github.com/votchallenge/vot-toolkit-python
onnx
onnxruntime-gpu==1.11.0
timm==0.4.12
yacs
einops
thop
python-dotenv
