supervisely==6.72.32
PyYAML
easydict
cython
opencv-python
pandas
pycocotools
jpeg4py
tb-nightly
tikzplotlib
git+https://github.com/Lyken17/pytorch-OpCounter.git
colorama
lmdb
scipy
visdom
git+https://github.com/votchallenge/vot-toolkit-python
onnx
onnxruntime-gpu==1.6.0
timm==0.4.12
yacs
einops
thop